# Built application files
*.apk
*.ap_
*.aab
*.aar

# Gradle files
.gradle/
build/
local.properties

# Android Studio specific
.idea/
*.iml
*.hprof

# User-specific configurations
*.log
*.keystore

# Dependencies
/caches/
/.externalNativeBuild/
**/build/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Firebase files
google-services.json

# JetBrains Rider (Optional, for those using JetBrains Rider)
.idea/

# Kotlin specific
.kotlinc/

# Jetpack Compose UI preview data (Optional, if you want to exclude preview data files)
.compose_preview/

# Ignore JAR files
*.jar

# Ignore Windows batch files
*.bat

# Ignore Gradle wrapper script
gradlew
gradlew.bat